.item {
  background-color: white;
  border-radius: 10px;
  max-width: 282px;
  object-fit: cover;
}

.item > div {
  max-width: 210px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .item {
    margin: auto;
  }
}