.item {
  max-width: 282px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
}

.item > div {
  width: 80%;
  position: relative;
  bottom: 22px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .item {
    margin: auto;
  }
}