.profile__add {
  height: 50%;
  align-self: center;
  border: 2px solid white;
  padding: 14px 64px;
  cursor: pointer;
  transition: opacity .4s;
}

.profile__add:hover {
  opacity: .5;
}

@media screen and (min-width: 601px) and (max-width: 894px) {
  .profile__add {
    position: relative;
    width: 25%;
    max-height: 30px;
    grid-area: add;
  }
}

@media screen and (max-width: 600px) {
  .profile__add {
    width: 30%;
    max-height: 30px;
  }
}