.profile__add {
  height: 50%;
  align-self: center;
  border: 2px solid white;
  padding: 14px 64px;
}

@media screen and (max-width: 414px) {
  .profile__add {
    width: 100%;
    max-height: 30px;
  }
}