.footer {
  width: 100%;
  max-width: 880px;
  margin:0 auto 60px;
}

.footer > h1 {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 600px) {
  .footer {
    width: 90%;
    margin-bottom: 36px;
  }

  .footer > div {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}